---
layout: default
title: "Our thoughts about the future of work."
cover: "assets/cover_narrow.jpg"
summary: "Our relationship with work is changing how we live and move in the world everyday."
header: "/assets/opengraph.jpg"
headerAlt: "A group of people talking"
---
<header>
	<h1>{{ page.title }}</h1>
	<p>Our relationship with work is changing how we live and move in the world everyday. This blog is a place where we will bring together our thoughts and those of the community into a conversation about how the future of work will change the local and global landscape.</p>
</header>

{% for post in site.posts %}
	<article>
		<a class="card padding_card" href="{{ post.url }}" title="{{ post.title }}">
			<img src="{{ post.header }}" width="100%"/>
			<h2 class="margin_small">{{ post.title }}</h2>
			<p class="nomargin">{{ post.summary | default: "No excerpt" }}</p>
		</a>
	</article>
{% endfor %}

{% include signup.html %}