<footer>
	<ul>
		<li>
			<a href="/" title="With Blog" class="hide-text"><img src="/assets/brand/with_logo.svg" alt="With Logo">With Blog</a><br>
			<p>©2021 With Labs, Inc.</p>
			<p>Made together, across the world.</p>
		</li>
		<li>
			<p>Support</p>
			<p><a class="textLink" href="https://feedback.with.so/" target="_blank" rel="noreferrer">Feedback</a></p>
			<p><a class="textLink" href="https://with.so/contact-us" target="_blank">Contact Us</a></p>
		</li>
		<li>
			<p>Social</p>
			<p><a class="textLink" href="https://twitter.com/withHQ" target="_blank" rel="noreferrer">Twitter</a></p>
			<p><a class="textLink" href="https://www.linkedin.com/company/withlabs/" target="_blank" rel="noreferrer">LinkedIn</a></p>
			<p><a class="textLink" href="https://www.youtube.com/channel/UClsQOqv4HDfz7R6BDbak-Uw" target="_blank" rel="noreferrer">YouTube</a></p>
			<p><a class="textLink" href="https://www.instagram.com/with_hq/" target="_blank" rel="noreferrer">Instagram</a></p>
			<p><a class="textLink" href="https://dribbble.com/withHQ" target="_blank" rel="noreferrer">Dribbble</a></p>
		</li>
	</ul>
</footer>