
<!-- Sign up today! -->
<section>
	<div class="brushed_border signup_block">
		<h2 class="centered">Sign up today</h2>
		<form action="https://app.with.so/signup" method="get" target="_blank" novalidate onsubmit="window.fathom.trackGoal('MISQGBBO', 0);">
			<input aria-label="Email" type="email" value="" placeholder="Your work email" name="email" />
			<input aria-label="hiddenRef" class="hiddenRef" type="text" value="blog" name="ref" />
			<input aria-label="Sign Up" type="submit" value="Try for free" />
		</form>
	</div>
</section>