<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>

    <nav style="background-image: url({{ page.cover | default: '/assets/texture.png' }});">
      <a class="logo" href="/">
      {% if page.whiteLogo == true %}
        <img style="filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.15));" src="/assets/logo_white.svg" height="100"/>
      {% else %}
        <img style="filter: drop-shadow(0 0 1rem white);" src="/assets/logo.svg" height="100"/>
      {% endif %}
      </a>
    </nav>

    <main>
      <section>
        {{ content }}
      </section>
      {% include footer.html %}
    </main>
  </body>

</html>